<form [formGroup]="customerForm">
    <div><span>Name:</span><input type="text" formControlName="name" /></div>
    <div><span>Last Name:</span><input type="text" formControlName="lastName" /></div>
    <div><span>Age:</span><input type="text" formControlName="age" /></div>
    <span *ngIf="customerForm.get('age').errors?.range">Please enter proper age</span>
    <div>
        <div formArrayName="phoneNumbers" *ngFor="let number of phoneNumbers.controls; let i = index">
            <div [formGroupName]="i">
                <label for="{{ 'name' + i }}">Name</label>
                <input id="{{ 'name' + i }}" type="text" formControlName="label" />
                <label for="{{ 'number' + i }}"> Number</label>
                <input id="{{ 'number' + i }}" type="text" formControlName="number" />
            </div>
        </div>
    </div>
    <div (click)="addPhoneNumber()">+</div>
</form>

<ng-template>
    <input type="text" formControlName="label" />
    <input type="text" formControlName="number" />
</ng-template>
